/* overrides */ 

.features-circle { 
  background-color: #7285AC;
  border: 6px solid #49556E;
}

.logo span {
  color: #7285AC;
  margin: 0 -12px 0 -14px;
}

.site-header { 
  border-top: 5px solid #7285AC;
  background-color: #F7F7F7;
  text-shadow: none;
  color: black;
}

.section-signup {
  background-color: #7285AC;
}

.site-header .logo { color: black; }

/* end color overrides */

.easteregg { font-size: 12px; padding: 0px 5px; }

.terminal {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  font-family: Monaco, mono;
  height: 100%;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  white-space: pre;
  z-index: 1;
}

.row { max-width: 850px; }

header { position: relative; }
header .row { z-index: 2; position: relative; }
.section-signup, .signup-subtitle { color: white; }
.section-signup a { color: white; text-decoration: underline; }

.subheader { text-align: center; color: white; text-transform: uppercase; }
.open-knowledge-foundation, .dat { width: 150px; float: right; }
.dat { margin-right: 35px; position: relative; top: 20px; }

.logo { font-family: 'Droid Sans Mono';}

.site-header {
  background-position: 50% 0px;
/*  background-image: url("../img/boston.jpg");*/
}

.header-intro-wrap {
  padding-bottom: 110px;
  padding-top: 110px;
  text-align: center;
}

.header-intro-wrap p {
  font-size: 28px;
  background-color: #f7f7f7;
}

.btn-docs {
  background: #2b3848;
  border-color: #2b3848;
}

.footer-info a {
  color: white;
}

@media screen and (max-width: 468px) {
  .logo {
    font-size: 50px;
  }
  .btn-docs {
    border-color: #7285AC;
  }
  .site-header {
  }
  .header-intro-wrap p {
    margin-top: 24px;
  }
  .header-signup {
  }
  .header-intro-wrap .hs-disclaimer {
    margin-top:50px;
  }
  .header-intro-wrap {
    padding-bottom: 50px;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 53.6%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.open-data-node {
	float: right;
}
