body {
  background-color: #537ABD;
  font-family: 'Fira Sans', sans-serif;
  margin: 45px;
}
table {
  color: white;
  width: 100%;
}
th.title {
  font-size: 54px;
}
th {
  font-weight: 500;
}
a {
  color: white;
}
table td, table th {
  border: 1px solid white;
  padding: 10px;
  text-align: left;
  border-width: 5px;
  margin: auto;
  font-size: 20px;
}
td {
  font-weight: 300;
}
caption {
  caption-side: bottom;
  text-align: right;
}
table {
  border-collapse: collapse;
  border-style: hidden;
}
.sixty {
  width: 60%;
}
.date {
  width: 25%;
}
.speaker {
  width: 25%;
}
.location {
  width: 30%;
  padding: 10px 10px 10px 25px
}
.tagline {
  padding: 13px 10px 7px 0px;
}
.second-tagline {
  padding: 17px 10px 2em 0px;
}
.second-tagline .submit-talk,
.second-tagline .buy-tickets {
  color: #537ABD;
  background: #fff;
  padding: 1em 2em;
  display: inline-block;
}
.second-tagline .buy-tickets {
  margin-left: 1em;
}
.second-tagline--info {
  width: 100%;
  margin-top: 1em;
  vertical-align: top;
  display: inline-block;
  padding: .5%;
}
@media (min-width: 1024px) {
  .second-tagline--info {
    width: 30%;
  }
}
.transparent td {
  border: 1px transparent;
}
.link, .link a {
  background-color: white;
  color: #537ABD;
  text-decoration: none;
  font-weight: 500;
}
.bold {
  font-weight: 500;
}
table {
  margin-top: 2em;
}
footer {
  color: white;
  font-size: 12px;
  font-weight: 200;
  padding-top: 4em;
}
@media (max-height: 800px) {
  th.title {
    font-size: 34px;
  }
  table td, table th {
    font-size: 20px;
    border-width: 3px;
  }
}
