---
layout: default
title: Schedule
permalink: /schedule/
---
<h1>Schedule</h1>

<h2>Contents/Contenido</h2>
<ul>
  <li><a href="#english-schedule">English Schedule</a></li>
  <li><a href="#spanish-schedule">Horario Español</a></li>
  <li><a href="#workshops">Workshops/Talleres</a></li>
  <li><a href="#shuttle">Shuttle Schedule</a></li>
  <li><a href="#speakers">Speakers/Oradores</a></li>
</ul>

<h2>English</h2>
<p>Morning Registration, Breakfast, Keynotes, and Lunch will be held at <a href="https://maps.app.goo.gl/2A4oFnTWmsTj9Bj38">BUAP Unidad de Seminarios</a>. All sessions will be held at <a href="https://maps.app.goo.gl/Jrezsdj2YeiXoavK6">BUAP EMA 5</a>. </p>
<table class="speakers">
 {% for row in site.data.2024_schedule %}
 <tr>

  {% if row['Track1'] == nil %}
   <td colspan=5 class="day">{{ row['Time'] }}</td>
  {% else %}
   {% if row['Track2'] == nil %}
    <td>{{ row['Time'] }}</td>
    <td colspan="4" class="highlight">{{ row['Track1'] }}</td>
   {% else %}
    <td>{{ row['Time'] }}</td>
    <td>
     {% if row['Track1 Speaker'] != nil %}
      <a href="#{{ row['Track1 Speaker'] | slugify }}" class="talk-name">{{row['Track1']}}</a>
      <div>{{row['Track1 Speaker']}} ({{row['Track1 Language']}})</div>
     {% else %}
      {{row['Track1']}}
     {% endif %}
    </td>
    <td>
     {% if row['Track2 Speaker'] != nil %}
      <a href="#{{ row['Track2 Speaker'] | slugify }}" class="talk-name">{{row['Track2']}}</a>
      <div>{{row['Track2 Speaker']}} ({{row['Track2 Language']}})</div>
     {% else %}
      {{row['Track2']}}
     {% endif %}
    </td>
    <td>
     {% if row['Track3 Speaker'] != nil %}
      <a href="#{{ row['Track3 Speaker'] | slugify }}" class="talk-name">{{row['Track3']}}</a>
      <div>{{row['Track3 Speaker']}} ({{row['Track3 Language']}})</div>
     {% else %}
      {{row['Track3']}}
     {% endif %}
    </td>
   {% endif %}
  {% endif %}
 </tr>
 {% endfor %}
</table>

<h2>Español</h2>
<table class="speakers">
 {% for row in site.data.2024_schedule %}
 <tr>

  {% if row['Track1'] == nil %}
   <td colspan=5 class="day">{{ row['Time'] }}</td>
  {% else %}
   {% if row['Track2'] == nil %}
    <td>{{ row['Time'] }}</td>
    <td colspan="4" class="highlight">{{ row['Track1'] }}</td>
   {% else %}
    <td>{{ row['Time'] }}</td>
    <td>
     {% if row['Track1 Speaker'] != nil %}
      <a href="#{{ row['Track1 Speaker'] | slugify }}" class="talk-name">{{row['Track1_ES']}}</a>
      <div>{{row['Track1 Speaker']}} ({{row['Track1 Language']}})</div>
     {% else %}
      {{row['Track1_ES']}}
     {% endif %}
    </td>
    <td>
     {% if row['Track2 Speaker'] != nil %}
      <a href="#{{ row['Track2 Speaker'] | slugify }}" class="talk-name">{{row['Track2_ES']}}</a>
      <div>{{row['Track2 Speaker']}} ({{row['Track2 Language']}})</div>
     {% else %}
      {{row['Track2_ES']}}
     {% endif %}
    </td>
    <td>
     {% if row['Track3 Speaker'] != nil %}
      <a href="#{{ row['Track3 Speaker'] | slugify }}" class="talk-name">{{row['Track3_ES']}}</a>
      <div>{{row['Track3 Speaker']}} ({{row['Track3 Language']}})</div>
     {% else %}
      {{row['Track3_ES']}}
     {% endif %}
    </td>
   {% endif %}
  {% endif %}
 </tr>
 {% endfor %}
</table>


<h1 id="workshops">Pre-Conference Workshops / Talleres Pre-conferencia</h1>
<p>Workshops will take place in the <a href="https://maps.app.goo.gl/Jrezsdj2YeiXoavK6">BUAP EMA5 building</a>. Check <a href="#shuttle">shuttle times</a> for transit to/from the NH Hotel.</p>
<h2>Monday / Lunes</h2>
<p>The Carpentries, <i>Plotting and Programming in Python</i></p>
<h2>Tuesday / Martes</h2>
<p>12pm - <a href="https://www.meetup.com/rladies-puebla/events/300314600">R-Ladies Puebla</a>, <i>Taller de R-Ladies</i></p>
<p>12pm - <a href="http://bit.ly/CSVConf_DataTrainersMeetup">SocialTIC</a>, <i>SocialTIC/Escuela de Datos LATAM are hosting Data Trainers Meetup</i></p>
<p>2pm - <a href="https://bit.ly/tallerObservable">Mi primer notebook de Observable / My First Observable Notebook</a> Como visualizar un dataset y no morir en el intento / How to visualize a dataset and survive the experience</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<h1 id="shuttle">Shuttle Schedule</h1>
<p>We will be running <a href="https://docs.google.com/spreadsheets/d/1iuFDsNK3VHysX0zja3NpNb_f3xK3ny5Y_BlO9XuIZRQ/edit?usp=sharing">Shuttles to/from NH Hotel and BUAP</a> Monday through Thursday. You do not have to be staying at the <a href="https://maps.app.goo.gl/y6w1oj3vGk9dKJ6y9">NH Hotel</a> to use the shuttles, just make sure to go to the hotel door where the bus will pick us up. If there are changes to the schedule, we will update this Google Sheet.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
    
    <h1 id="speakers">Speakers</h1>

<table class="speakers">
  {% for speaker in site.data.2024_speakers %}
    <tr class="speaker" id="{{ speaker.Name | slugify }}">
      <td class="about">
        <!-- {% if speaker.img %}
        <img class="image"
        style="background-image:url(/img/speakers-2024/{{ speaker.id }}.jpg)"/>
        {% else %} -->
        <!--  <img class="image"
        style="background-image:url(/img/speakers-2024/comma.jpg)"/>
        {% endif %} -->
          <span class="Name"> {% if speaker.twitter %}
            <a href="https://twitter.com/{{speaker.twitter}}">{{ speaker.Name }}</a>
          {% else %}
            {{ speaker.Name }}
          {% endif %}
        </span>
      </td>
      <td>
        <p class="title">{{ speaker.EN_Title }}</p>
        <p class="abstract">{{ speaker.EN_Description }}</p>
        <p class="title">{{ speaker.ES_Title }}</p>
        <p class="abstract">{{ speaker.ES_Description }}</p>
        <span>
          {% if speaker.slides_url %}
            <a href="{{speaker.slides_url}}" target="_blank">View Slides</a>
            ·
        {% else %}

          {% endif %}
        </span>
        <span>
          {% if speaker.talk_url %}
            <a href="{{speaker.talk_url}}" target="_blank">Watch Talk</a>
        {% else %}

          {% endif %}
        </span>
      </td>
    </tr>
  {% endfor %}
</table>

<hr>
