---
layout: default
title: Speakers
permalink: /schedule/
---
<h1>Schedule</h1>

<p class="speakers-intro">
We are assembling an exciting team of data makers and enthusiasts representing academia, science, journalism, government, and open source projects.
</p>

<h2>English</h2>
<table class="speakers">
 {% for row in site.data.2023_schedule %}
 <tr>

  {% if row['Room A'] == nil %}
   <td colspan=5 class="day">{{ row['Time'] }}</td>
  {% else %}
   {% if row['Room B'] == nil %}
    <td>{{ row['Time'] }}</td>
    <td colspan="4" class="highlight">{{ row['Room A'] }}</td>
   {% else %}
    <td>{{ row['Time'] }}</td>
    <td>
     {% if row['Room A speakers'] != nil %}
      <a href="#{{ row['Room A speakers'] | slugify }}" class="talk-name">{{row['Room A']}}</a>
      <div>{{row['Room A speakers']}}</div>
     {% else %}
      {{row['Room A']}}
     {% endif %}
    </td>
    <td>
     {% if row['Room B speakers'] != nil %}
      <a href="#{{ row['Room B speakers'] | slugify }}" class="talk-name">{{row['Room B']}}</a>
      <div>{{row['Room B speakers']}}</div>
     {% else %}
      {{row['Room B']}}
     {% endif %}
    </td>
    <td>
     {% if row['Room C speakers'] != nil %}
      <a href="#{{ row['Room C speakers'] | slugify }}" class="talk-name">{{row['Room C']}}</a>
      <div>{{row['Room C speakers']}}</div>
     {% else %}
      {{row['Room C']}}
     {% endif %}
    </td>
   {% endif %}
  {% endif %}
 </tr>
 {% endfor %}
</table>

<h2>Español</h2>
<table class="speakers">
 {% for row in site.data.2023_schedule %}
 <tr>

  {% if row['Room A'] == nil %}
   <td colspan=5 class="day">{{ row['Time'] }}</td>
  {% else %}
   {% if row['Room B'] == nil %}
    <td>{{ row['Time'] }}</td>
    <td colspan="4" class="highlight">{{ row['Room A'] }}</td>
   {% else %}
    <td>{{ row['Time'] }}</td>
    <td>
     {% if row['Room A speakers'] != nil %}
      <a href="#{{ row['Room A speakers'] | slugify }}" class="talk-name">{{row['Room A Es']}}</a>
      <div>{{row['Room A speakers']}}</div>
     {% else %}
      {{row['Room A Es']}}
     {% endif %}
    </td>
    <td>
     {% if row['Room B speakers'] != nil %}
      <a href="#{{ row['Room B speakers'] | slugify }}" class="talk-name">{{row['Room B Es']}}</a>
      <div>{{row['Room B speakers']}}</div>
     {% else %}
      {{row['Room B Es']}}
     {% endif %}
    </td>
    <td>
     {% if row['Room C speakers'] != nil %}
      <a href="#{{ row['Room C speakers'] | slugify }}" class="talk-name">{{row['Room C Es']}}</a>
      <div>{{row['Room C speakers']}}</div>
     {% else %}
      {{row['Room C Es']}}
     {% endif %}
    </td>
   {% endif %}
  {% endif %}
 </tr>
 {% endfor %}
</table>


<h1>Pre-Conference Workshops / Talleres Pre-conferencia</h1>
  <h2>Monday / Lunes</h2>
    <p>Dataverse</p>
    <p>The Carpentries</p>
    <p>Open Heroines</p>
  <h2>Tuesday / Martes</h2>
    <p>DataCite Connect</p>
    <p>LATAM PID workshop (DataCite, ORCID and ROR)</p>
    <p>Open Knowledge Foundation</p>
*These workshops require separate registration and are not open to the public.* / *Estos talleres requieren inscripción previa y no están abiertos al público.*

<h1>Speakers</h1>

<table class="speakers">
 {% for speaker in site.data.2023_speakers %}
 <tr class="speaker" id="{{ speaker.name | slugify }}">
  <td class="about">
   <!-- {% if speaker.img %}
    <img class="image"
     style="background-image:url(/img/speakers-2023/{{ speaker.id }}.jpg)"/>
   {% else %} -->
   <!--  <img class="image"
     style="background-image:url(/img/speakers-2023/comma.jpg)"/>
   {% endif %} -->
   <span class="name">
    {% if speaker.twitter %}
     <a href="https://twitter.com/{{speaker.twitter}}">{{ speaker.name }}</a>
    {% else %}
     {{ speaker.name }}
    {% endif %}
   </span>
  </td>
  <td>
   <p class="title">{{ speaker.title }}</p>
   <p class="abstract">{{ speaker.abstract }}</p>
   <p class="title">{{ speaker.title-es }}</p>
   <p class="abstract">{{ speaker.abstract-es }}</p>
   <span>
    {% if speaker.slides_url %}
     <a href="{{speaker.slides_url}}" target="_blank">View Slides</a> ·
    {% else %}
      
    {% endif %}
   </span>
   <span>
    {% if speaker.talk_url %}
     <a href="{{speaker.talk_url}}" target="_blank">Watch Talk</a>
    {% else %}
   
    {% endif %}
   </span>
  </td>
 </tr>
 {% endfor %}
</table>

<hr>
