---
layout: default
title: Speakers
permalink: /speakers/
---
<p class="speakers-intro">
We are assembling an exciting team of data makers and enthusiasts representing academia, science, journalism, government, and open source projects.
</p>
<table class="speakers">
  {% for speaker in site.data.2017_speakers %}
  <tr class="speaker">
    <td class="about">
      <img class="image"
        style="background-image:url({{ speaker.img }})"/>
      <span class="name">
        {% if speaker.twitter %}<a href="http://twitter.com/{{speaker.twitter}}">
        {{ speaker.name }}
        {% else %}
        {{ speaker.name }}
        {% endif %}
      </span>
    </td>
    <td>
      <p class="title">{{ speaker.title }}
    </td>
  </tr>
  {% endfor %}
</table>
