<footer>
 <p>csv,conf is a group effort to put on a non-profit, community conference with dozens of people putting in time, including but not limited to the 2024 organizing team:</p>
 <ul>
 <li>Elaine Wong, Canadian Broadcasting Corporation</li>
 <li>SherAaron Hurt, The Carpentries</li>
 <li>Marisa Miodosky, Open Heroines</li>
 <li>Julieta Millan, Aeropuertos Argentina 2000</li>
 <li>Gabi Mejias, DataCite</li>
 <li>Sara Petti, Open Knowledge Foundation</li>
 <li>Tricia Govindasamy, University of Strathclyde</li>
 <li>Eduard Martín-Borregón, Abrimos.info </li>
 <li>Joel Torres, eScire</li>
 <li>Nydia Lopez, eScire</li>
 <li>Andrea Crisóstomo, eScire</li>
 <li>Arturo Magana, DataCite</li>
 <li>Farida Adamu, Burgundy School of Business</li>
 <li>Averi Giudicessi, R-Ladies Mexico</li>
 <li>Dr. Emilio Miguel Soto García, Benemérita Universidad Autónoma de Puebla (BUAP)</li>
 <li>John Chodacki, California Digital Library</li>
 </ul>

 <p>
 We strive to be a supportive and welcoming environment to all attendees. We encourage you to read the <a href="/coc/" title="Conf Code of Conduct Website">Conf Code of Conduct</a> and will be enforcing it.</p>
 <p>You can revisit
   <a href="/2023/" title="csv,conf,v6 site">csv,conf,v7</a>, <a href="/2021/" title="csv,conf,v6 site">csv,conf,v6</a>, <a href="/2020/" title="csv,conf,v5 site">csv,conf,v5</a>, <a href="/2019/" title="csv,conf,v4 site">csv,conf,v4</a>, <a href="/2017/" title="csv,conf,v3 site">csv,conf,v3</a> , <a href="/2016/" title="csv,conf,v2 site">csv,conf,v2</a> and <a href="/2014/" title="csv,conf,v1 site">csv,conf,v1</a> conference websites, or watch csv,conf talks on <a href="https://www.youtube.com/channel/UCWq7JfT4PJrCZLmxSOVJOww" title="csv,conf YouTube Channel">YouTube</a>.
 </p>
 <p>The code for this website is open source. <a href="https://github.com/csvconf/csvconf.com/" title="CSV,Conf website repo on GitHub">View it on GitHub</a>. &nbsp;
 Want to talk to us? <a href="https://join.slack.com/t/csvconf/shared_invite/zt-1mbc9v4bl-7v~no8uAKTRih_OOPNWFnQ" title="CSV,Conf Slack organization">Join us on Slack.</a></p>
</footer>
