
<div class="header">
 <h1><a href="/">csv,conf,v8</a></h1>
 <ul class="menu">
  <li>
   <a class="button" href="/about" title="about">About</a>
  </li>
  <li>
   <a class="button" href="/speakers" title="about">Speakers</a>
  </li>
  <li>
   <a class="button" href="/schedule" title="about">Schedule</a>
  </li>
  <li>
   <a class="button" href="/location" title="location">Location</a>
  </li>
   <!--li>
    <a class="button" href="/faq" title="csv,conf FAQ">FAQ</a>
  </li-->
  <li>
    <a class="button" href="/coc" title="csv,conf,v8 CoC">Code of Conduct</a>
   </li>
  <button class = "button" onclick="myFunction()">Toggle Gray Mode</button>
  <script>
  function myFunction() {
    var element = document.body;
    element.classList.toggle("pantone-gray-theme");
  }
  </script>
 </ul>
</div>
