<footer>
  <p>RubyConfIndia is a group effort to put on a non-profit, community conference with dozens of people putting in time, including but not limited to the 2020 organizing team:</p>
  <ul>
  <li>Satish Talim</li>
  <li>Gautam Rege</li>
  <li>Prathamesh Sonpatki</li>
  <li>Anuja Sonpatki</li>
  <li>Shweta Kale</li>
  </ul>

  <p>
  We strive to be a supportive and welcoming environment to all attendees. We encourage you to read the <a href="https://confcodeofconduct.com/" title="Conf Code of Conduct Website">Conf Code of Conduct</a> and will be enforcing it.</p>
  <!-- <p>You can revisit
       <a href="/2019/" title="RubyConfIndia,v4 site">RubyConfIndia,v4</a>, <a href="/2017/" title="RubyConfIndia,v3 site">RubyConfIndia,v3</a> , <a href="/2016/" title="RubyConfIndia,v2 site">RubyConfIndia,v2</a> and <a href="/2014/" title="RubyConfIndia,v1 site">RubyConfIndia,v1</a> conference websites, or watch RubyConfIndia talks on <a href="https://www.youtube.com/channel/UCWq7JfT4PJrCZLmxSOVJOww" title="RubyConfIndia YouTube Channel">YouTube</a>.
       </p>
       <p>The code for this website is open source. <a href="https://github.com/csvconf/csvconf.com/" title="RubyConfIndia website repo on GitHub">View it on GitHub</a>. &nbsp;
       Want to talk to us? <a href="https://csvconf-slackin.herokuapp.com/" title="RubyConfIndia Slack organization">Join us on Slack.</a></p> -->
</footer>
