<footer>
  <p>csv,conf is a group effort to put on a non-profit, community conference with dozens of people putting in time, including but not limited to the 2019 organizing team:</p>
  <ul>
  <li>Karthik Ram, Program Committee Chair, rOpenSci</li>
  <li>John Chodacki, California Digital Library</li>
  <li>Martin Fenner, DataCite</li>
  <li>Elaine Wong, CBC</li>
  <li>Joe Hand, DatProject</li>
  <li>Jo Barratt, Open Knowledge International</li>
  <li>Serah Rono, Open Knowledge International</li>
  </ul>

  <p>
  We strive to be a supportive and welcoming environment to all attendees. We encourage you to read the <a href="http://confcodeofconduct.com/" title="Conf Code of Conduct Website">Conf Code of Conduct</a> and will be enforcing it.</p>

   <div>
     The code for this website is open source.<a href="https://github.com/csvconf/csvconf.com/" title="CSV,Conf website repo on GitHub"><img src="/img/github.png"/></a> &nbsp;
     Want to talk to us? Join us on Slack. <a href="https://csvconf-slackin.herokuapp.com/" title="CSV,Conf Slack organization"><img src="/img/slack.png" /></a>
 </div>

</footer>
