<footer>
  <p>csv,conf is a group effort to put on a non-profit, community conference with dozens of people putting in time, including but not limited to the 2020 organizing team:</p>
  <ul>
  <li>Karthik Ram, University of California, Berkeley. Program Chair</li>
  <li>John Chodacki, California Digital Library</li>
  <li>Elaine Wong, Canadian Broadcasting Corporation</li>
  <li>Jessica Hardwicke, Code for Science & Society</li>
  <li>Jonathan Cain, University of Oregon</li>
  <li>Jo Barratt, Open Knowledge Foundation</li>
  <li>Danielle Robinson, Code for Science & Society</li>
  <li>Lilly Winfree, Open Knowledge Foundation</li>
  <li>Serah Rono, The Carpentries</li>
  </ul>

  <p>
  We strive to be a supportive and welcoming environment to all attendees. We encourage you to read the <a href="https://confcodeofconduct.com/" title="Conf Code of Conduct Website">Conf Code of Conduct</a> and will be enforcing it.</p>
  <p>You can revisit
    <a href="/2019/" title="csv,conf,v4 site">csv,conf,v4</a>, <a href="/2017/" title="csv,conf,v3 site">csv,conf,v3</a> , <a href="/2016/" title="csv,conf,v2 site">csv,conf,v2</a> and <a href="/2014/" title="csv,conf,v1 site">csv,conf,v1</a> conference websites, or watch csv,conf talks on <a href="https://www.youtube.com/channel/UCWq7JfT4PJrCZLmxSOVJOww" title="csv,conf YouTube Channel">YouTube</a>.
  </p>
  <p>The code for this website is open source. <a href="https://github.com/csvconf/csvconf.com/" title="CSV,Conf website repo on GitHub">View it on GitHub</a>. &nbsp;
  Want to talk to us? <a href="https://csvconf-slackin.herokuapp.com/" title="CSV,Conf Slack organization">Join us on Slack.</a></p>
</footer>
