
<div class="header">
  <h1><a href="/">csv,conf,v3</a></h1>
  <ul class="menu">
    <li>
      <a class="button" href="/" title="home">Home</a>
    </li>
    <li>
      <a class="button" href="/speakers" title="list of speakers">Speakers</a>
    </li>
    <li>
      <a class="button" href="/locations" title="About Portland">Portland</a>
    </li>
    <li>
      <a class="button" href="https://www.youtube.com/playlist?list=PLg5zZXwt2ZW5UIz13oI56vfZjF6mvpIXN" target="_blank" title="watch 2017 talks">Watch 2017 Talks</a>
    </li>
  </ul>
</div>
