
<div class="header">
 <h1><a href="/">csv,conf,v7</a></h1>
 <ul class="menu">
  <li>
   <a class="button" href="/" title="home">Home</a>
  </li>
  <li>
  <li>
   <a class="button" href="/about" title="about">About</a>
  </li>
  <li>
   <a class="button" href="/speakers" title="about">Speakers</a>
  </li>
  <li>
    <a class="button" href="/coc" title="csv,conf,v6 CoC">Code of Conduct</a>
   </li>
   <li>
    <a class="button" href="/faq" title="csv,conf FAQ">FAQ</a>
  </li>
  <button class = "button" onclick="myFunction()">Toggle Gray Mode</button>
  <script>
  function myFunction() {
    var element = document.body;
    element.classList.toggle("pantone-gray-theme");
  }
  </script>
 </ul>
</div>
