
<div class="header">
  <h1><a href="/">csv,conf,v5</a></h1>
  <ul class="menu">
    <li>
      <a class="button" href="/" title="home">Home</a>
    </li>
    <li>
      <a class="button" href="/locations" title="About Washington DC">Washington DC</a>
    </li>
    <li>
      <a title="csv,conf,v4 website" class="button" href="/2019" target="_blank">csv,conf,v4</a>
    </li>
    <li>
      <a title="csv,conf,v3 website" class="button" href="/2017" target="_blank">csv,conf,v3</a>
    </li>
    <li>
      <a title="csv,conf,v2 website" class="button" href="/2016" target="_blank">csv,conf,v2</a>
    </li>
    <li>
      <a title="csv,conf,v1 website" class="button" href="/2014" target="_blank">csv,conf,v1</a>
    </li>
  </ul>
</div>
