<html>
  <head>
    <title>csv,conf,v4 - May 8-9 2019 - Portland, OR</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph Data -->
    <meta property="og:title" content="csv,conf,v4 - May 8-9, 2019 - Portland, OR"/>
    <meta property="og:url" content="http://csvconf.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="A community conference in Portland for data makers everywhere featuring stories about data sharing and data analysis from science, journalism, government, and open source."/>

  </head>
