<!DOCTYPE html>
<html>
 <head>
  <title>csv,conf,v8</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:image" content="https://csvconf.com/img/llama2019.jpeg">
    
  <!-- Open Graph Data -->
  <meta property="og:title" content="csv,conf"/>
  <meta property="og:url" content="http://csvconf.com"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="A community conference for data makers everywhere featuring stories about data sharing and data analysis from science, journalism, government, and open source."/>

 </head>

 <body class="pantone-2023-theme">

  {% include header.html %}

  <div class="{% if page.class %}{{ page.class }}{% endif %}">
   {{ content }}
   {% include footer.html %}
  </div>

 </body>
</html>
