---
days:
  - Tuesday
  - Wednesday
streams:
  - "1"
  - "2"
  - "3"
---

<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>

  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>csv,conf,v2</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/gumby.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Load Modenizr for feature detection FIRST. -->
  <script src="/js/libs/modernizr-2.6.2.min.js"></script>
</head>

  <body>
    <header role="banner" class="site-header parallax" gumby-parallax="0.5">
      <div class="row">
        <div class="twelve columns header-intro-wrap fadeUpIn">
          <h1 class="logo">csv<span>,</span>conf<span>,</span>v2</h1>
          <p>
            A community conference for data makers everywhere, again!
            <br />
            <small style="font-size: 65.4%;">Featuring some of the brightest minds in science, journalism, government and open source.</small>
          </p>
          <p>3-4 May 2016 in Berlin, Germany.</p>
          <p class="buttonz">
            <a href="http://www.eventbrite.com/e/csvconfv2-tickets-22105704758" target="_blank" class="btn-side animate-on-scroll scroll-animation-init fadeInLeft" data-scrollanimation="fadeInLeft">Get Your Ticket</a>
            <div style="font-size: 15px">Pay What You Can, Early Bird Ends <b>April 15th</b></div>
          </p>
          <p>
            Thanks for coming, hopefully see you in <a href="/2017" title="csv,conf,v3 site">Portland for csv,conf,v3</a>.
          </p>
          <p>
            Look at the 2016 talks on <a href="https://www.youtube.com/channel/UCWq7JfT4PJrCZLmxSOVJOww" title="Csv,conf 2016 talks">Youtube</a>.
          </p>
        </div>
      </div>
    </header>
    <main role="main" class="site-main-content">
      <span class="easteregg" style="display: none;">Above is live earthquake data from a NOAA CSV. <a href="?csv=https://raw.githubusercontent.com/datasets/house-prices-uk/master/data/data.csv">Try rendering a different CSV.</a></span>

      <section id="speakers" class="site-section section-signup speakers">
        <div class="row">
          <div class="twelve columns animate-on-scroll" data-scrollanimation="fadeDownIn">
            <h3 id="keynotes" class="signup-title">Keynote Speakers</h3>
          </div>
        </div>
        <div class="row">
          <ul class="row features-list">
            <li class="features-item">
              <a href="https://twitter.com/JennyBryan">
                <span class="features-circle" style="background-image: url(/img/speakers/JennyBryan.jpg)">
                  <span class="features-circle-icon">
                  </span>
                </span>
              </a>
              <h4>Jenny Bryan</h4>
              <h3>Statistics professor at the University of British Columbia who takes a special delight in data analysis and computing.</h3>
            </li>
            <li class="features-item">
              <a href="https://twitter.com/sarahtgold">
                <span class="features-circle" style="background-image: url(/img/speakers/sarahtgold.jpg)">
                  <span class="features-circle-icon">
                  </span>
                </span>
              </a>
              <h4>Sarah Gold</h4>
              <h3>Designer interested in interaction, data and networks in the public domain, she is founder of the creative company IF.</h3>
            </li>
            <li class="features-item">
              <a href="https://twitter.com/thefreemanlab">
                <span class="features-circle" style="background-image: url(/img/speakers/thefreemanlab.png)">
                  <span class="features-circle-icon">
                  </span>
                </span>
              </a>
              <h4>Jeremy Freeman</h4>
              <h3>Neuroscientist at <a href="https://twitter.com/HHMIJanelia">HHMI Janelia</a>. Open source, open science. Working on <a href="http://mybinder.org/">Binder</a>, <a href="http://lightning-viz.org/">Lightning</a> and more.</h3>
            </li>
            <li class="features-item">
              <a href="https://twitter.com/zararah">
                <span class="features-circle" style="background-image: url(/img/speakers/zararahman.png)">
                  <span class="features-circle-icon">
                  </span>
                </span>
              </a>
              <h4>Zara Rahman</h4>
              <h3>Researcher, writer and information activist whose work focuses on bridging the gap between activists and technologists.</h3>
            </li>
          </ul>
          <div class="row" style="padding-top: 90px;">
            <h3>See the full <a href="#presenters">list of speakers</a>.

              <p>
                <a href="http://www.eventbrite.com/e/csvconfv2-tickets-22105704758" target="_blank" class="btn-side animate-on-scroll scroll-animation-init fadeInLeft" data-scrollanimation="fadeInLeft">Get Your Ticket</a>
              </p>
          </div>
        </div>
      </section>

      <section id="about" class="site-section section-features" data-target="features">
        <center><a href="/2014"><img width="100%" src="/img/2014-group.jpg"></a></center>

        <ul class="row features-list">
          <li class="features-item">
            <h3>Building Community</h3>
            <p>We want to bring together data makers/doers/hackers from backgrounds like science, journalism, open government and the wider software industry to share knowledge and stories.</p>
          </li>
          <li class="features-item">
            <h3>For those who love data</h3>
            <p>csv,conf is a non-profit community conference run by some folks who really love data and sharing knowledge. If you are as passionate about data and the application it has to society as us then you should join us in Berlin!</p>

          </li>
          <li class="features-item">
            <h3>Big and small</h3>
            <p>This isn't just a conference about spreadsheets. We are curating content about advancing the art of data collaboration, from putting your data on GitHub to producing meaningful insight by running large scale distributed processing on a cluster.</p>
          </li>
          <!-- /END: Feature Item -->
        </ul>
        <!-- /END: Features List -->
        <div class="row" style="text-align: center;">
          <div class="row">
            <h3>csv,conf is made possible by the following generous sponsors</h3>
            <a href="https://www.moore.org/"><img src="/img/moore.jpg" width="400" style="padding: 25px"></a>
            <br />
            <a href="https://okfn.org/"><img src="/img/oki.png" width="200"></a>
            <a href="https://www.datacite.org/"><img src="/img/datacite.png" width="200"></a>
            <a href="http://www.sloan.org/"><img src="/img/sloan.png" width="200"></a>
            <a href="http://www.cdlib.org/"><img src="/img/cdl.png" width="200"></a>
            <a href="http://ropensci.org/"><img src="/img/ropensci.png" width="200"></a>
          </div>
        </div>
      </section>

      <section id="presenters" class="site-section section-signup speakers">
        <div class="row">
          <div class="twelve columns animate-on-scroll" data-scrollanimation="fadeDownIn">
            <h3 class="signup-title" id="presenters">Presenters</h3>
          </div>
        </div>
        <div class="row">
          <ul class="row features-list">
            {% for speaker in site.data.speakers %}
            <li class="features-item">
              {% if speaker.twitter %}
              <a href="http://twitter.com/{{ speaker.twitter }}">
                {% else %}
                <a>
                  {% endif %}
                  <span class="features-circle" style="background-image: url(/img/speakers/{{ speaker.img }})">
                    <span class="features-circle-icon">
                    </span>
                </span>
              </a>
              <h4>{{ speaker.name }}</h4>
              <a href="#{{ speaker.id }}"><h3>{{ speaker.title }}</h3></a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>

      <section id="schedule" class="site-section section-testimonials">
        <div class="row">
          <h4 id="location">Location</h4>
          <p>Conference venue is the <a href="http://www.kalkscheune.de/en">Kalkscheune</a> in Central Berlin.</p>
          <p>Google Maps: <a href="https://www.google.com/maps/place/Kalkscheune/@52.5251031,13.3914223,16z/data=!4m2!3m1!1s0x47a851e837c93643:0xd44c06c0d6ff5dda">Kalkscheune, Johannisstr. 2, 10117 Berlin, Germany</a></p>
          <a href="http://www.kalkscheune.de/en"><img style="margin-left: 20px" src="/img/kalkscheune.png"></a>

          <h4 id="schedule">
            <h4>Schedule</h4>
            <a href="/img/day1.png"><img src="/img/day1.png" width=300></a>
            <a href="/img/day2.png"><img src="/img/day2.png" width=300></a>
          </h4>

          {% for day in page.days %}
          <h4>Schedule: {{ day }}</h4>
          <ul class="row presentation-list">

            {% for presentation in site.data.presentations %}
            {% if presentation.day == day %}

            <li id="{{ presentation.id }}" class="presentation-item">
              <div class="slot">{{ presentation.start }}</div>
              <div class="left">
                <h3>{{ presentation.title }}</h3>
                {% if presentation.type == 'keynote' or presentation.type == 'break' %}
                <span class="room">{{ presentation.type | upcase }}</span>
                {% else %}
                <span class="room">
                  {% if presentation.stream == "1" %}
                  Gallery
                  {% elsif presentation.stream == "2" %}
                  Room 1
                  {% else %}
                  Room 4
                  {% endif %}
                </span>
                {% endif %}
                <a>
                  <h4>{{ presentation.name }}</h4>
                </a>
                <div class="bio"></div>
                <p>
                  {{ presentation.description }}
                </p>
                {% if presentation.video %}
                <a class="video" href="{{ presentation.video }}" title="Video for talk {{ presentation.name }}">Watch Video ></a>
                {% endif %}
              </div>
            </li>

            {% endif %}
            {% endfor %}

          </ul>
          {% endfor %}

          <h4>More Information</h4>
          <p>csv,conf strives to be a supportive and welcoming environment to all attendees. We encourage you to read the <a href="http://confcodeofconduct.com/">Conf Code of Conduct</a> and will be enforcing it.</p>
          <p>For any questions contact <a href="https://twitter.com/csvconference">@csvconference</a> or csv-conf-coord at googlegroups dot com</p>
          <h4>Organizers</h4>
          <p>csv,conf is a not-for-profit event organized by the following unpaid volunteers</p>
          <ul>
            <li><a href="https://twitter.com/chodacki">John Chodacki, California Digital Library</a></li>
            <li><a href="https://twitter.com/elthenerd">Elaine Wong, CBC</a></li>
            <li><a href="https://twitter.com/_inundata">Karthik Ram, rOpenSci</a></li>
            <li><a href="https://twitter.com/mfenner">Martin Fenner, DataCite</a></li>
            <li><a href="https://twitter.com/denormalize">Max Ogden, dat</a></li>
            <li><a href="https://twitter.com/danfowler">Dan Fowler, Open Knowledge International</a></li>
            <li><a href="https://twitter.com/jobarratt">Jo Barratt, Open Knowledge International</a></li>
          </ul>
          <h4 id="documents">Documents</h4>
          <p>Here is our announcement poster, sticker template and sponsorship prospectus.</p>
          <p>
            <a href="/img/buy-tickets-2016.png"><img width="200" src="/img/buy-tickets-2016.png"></img></a>
            <a style="padding-left: 20px;" href="/img/sticker-2016.png"><img width="200" src="/img/sticker-2016.png"></img></a>
            <a style="padding-left: 20px;" href="/img/confconferencev2_sponsorship.pdf"><img width="200" src="/img/sponsorship.png"></img></a>
          </p>
        </div>

        <div class="row" style="text-align: center">
          <h3>Check out csv,conf,v1</h3>
          <p>The first csv,conf was held in 2014. We hosted 30 talks all over the data spectrum including <a href="https://www.youtube.com/watch?v=a8piOmSsJ2I">upcoming CSV standards from the W3C</a>, <a href="https://www.youtube.com/watch?v=U2NcQVk5HtQ">scientific data testing tools in R</a>, and <a href="https://www.youtube.com/watch?v=NhhJmgXKSJI">how to query data from Wikipedia</a>.</p>
          <ul>
            <li><a href="http://lanyrd.com/2014/csv-conf/coverage/">See the csv,conf,v1 coverage (slides and videos) on Lanyrd.</a></li>
            <li><a href="/2014">View the csv,conf,v1 speaker list and presentation summaries.</li>
          </ul>
        </div>
      </section>

    </main>
    <!-- START: Site Footer -->
    <footer role="contentinfo" class="site-footer">
      <div class="row footer-info">
        <!-- START: Copyright Notice -->
        <div class="six columns">
          <p class="footer-copyright">Text released under <a href="http://creativecommons.org/licenses/by/4.0/">the Creative Commons Attribution 4.0 International (CC-BY) license</a>. HTML, CSS, images, and design are based on a design <a href="https://github.com/sudomesh/peoplesopen-front">forked from PeoplesOpen.Net</a> which was, in turn, forked from <a href="http://martini.codegangsta.io/">Martini’s template</a>, reused here under the MIT License. Fork this site on <a href="https://github.com/maxogden/csvconf.com">GitHub</a>.</p>
        </div>
        <!-- /END: Copyright Notice -->
      </div>
      <!-- /END: Copyright Notice -->
    </div>
  </footer>
  <!-- /END: Site Footer -->


  <!-- Grab Google CDN's jQuery, fall back to local if offline -->
  <!-- 2.0 for modern browsers, 1.10 for .oldie -->
  <script>
  var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
  if(!oldieCheck) {
  document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
  } else {
  document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
  }
  </script>
  <script>
  if(!window.jQuery) {
    if(!oldieCheck) {
      document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');
    } else {
      document.write('<script src="js/libs/jquery-1.10.1.min.js"><\/script>');
    }
  }
  </script>

  <script src="js/libs/gumby.min.js"></script>

  <!-- External Plugins Not Linked Directly to Gumby -->

  <script src="js/plugins/waypoints.min.js"></script>
  <script src="js/plugins/placeholders.js"></script>

  <!-- Custom theme specific interaction -->
  <script src="js/theme.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49655344-1', 'csvconf.com');
    ga('send', 'pageview');

  </script>

  <script src="js/bundle.js"></script>
  </body>
</html>
