<html>
  <head>
    <title>csv,conf,v3 - May 2-3 2017, Portland, OR</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body class="wrap">
	<div class="header">
	  <h1><a href="/">csv,conf,v3</a></h1>
	  <ul class="menu">
	    <li>
	      <a class="button" href="/2017" title="home">Home</a>
	    </li>
	    <li>
	      <a class="button" href="/2017/speakers" title="list of speakers">Speakers</a>
	    </li>
	    <li>
	      <a class="button" href="/2017/locations" title="About Portland">Portland</a>
	    </li>
	    <li>
	      <a class="button" href="https://www.youtube.com/playlist?list=PLg5zZXwt2ZW5UIz13oI56vfZjF6mvpIXN" target="_blank" title="watch 2017 talks">Watch 2017 Talks</a>
	    </li>
	  </ul>
	</div>

<div class="{% if page.class %}{{ page.class }}{% endif %}">
	{{ content }}

  <footer>
  <p class="slack-link">
    Want to talk to us? Join our <a href="https://csvconf-slackin.herokuapp.com/" title="CSV,Conf Slack organization"> Slack group</a>.
  </p>
  <p class="sixty">csv,conf,v3 is about bringing a diverse group together to discuss data topics. There will be a limited number of travel awards available for those unable to pay. We are a community organized not-for-profit event.
  </p>
  <p class="sixty">
  We strive to be a supportive and welcoming environment to all attendees. We encourage you to read the <a href="http://confcodeofconduct.com/" title="Conf Code of Conduct Website">Conf Code of Conduct</a> and will be enforcing it.</p>
  <p>CSV Conf is a group effort to put on a non-profit, community conference with dozens of people putting in time, including but not limited to the organizing team:</p>
  <ul>
  <li>Karthik Ram, Program Committee Chair, rOpenSci</li>
  <li>John Chodacki, California Digital Library</li>
  <li>Max Ogden, Dat</li>
  <li>Martin Fenner, DataCite</li>
  <li>Elaine Wong, CBC</li>
  <li>Jo Barratt, Open Knowledge International</li>
  <li>Dan Fowler, Open Knowledge International</li>
  <li>Danielle Robinson, Mozilla Science Lab</li>
  <li>Simon Vansintjan</li>
  <li>Nate Goldman</li>
  </ul>
  <p class="sixty">The code for this website is open source. It's available <a href="https://github.com/csvconf/csvconf.com" title="Website source code on GitHub">on GitHub</a>.
</footer>
</div>
</body>
</html>
