<!DOCTYPE html>
<html>
 <head>
  <title>csv,conf,v6 - May 4-5 2021 - Online</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Open Graph Data -->
  <meta property="og:title" content="csv,conf,v6 - May 4-5, 2021 - Online Conference"/>
  <meta property="og:url" content="http://csvconf.com"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="A community conference for data makers everywhere featuring stories about data sharing and data analysis from science, journalism, government, and open source."/>
 
 </head>

 <body class="pantone-2021-theme">


<div class="header-2021">
 <h1><a href="/">csv,conf,v6</a></h1>
 <ul class="menu">
  <li>
   <a class="button" href="/" title="home">Home</a>
  </li>
  <li>
   <a title="csv,conf,v6 schedule" class="button" href="/2021/schedule" target="_blank">Schedule</a>
  </li>
  <li>
   <a title="csv,conf,v6 speakers" class="button" href="/2021/speakers" target="_blank">Speakers</a>
  </li>
  <li>
    <a class="button" href="/2021/coc" title="csv,conf,v6 CoC">Code of Conduct</a>
   </li>
   <li>
    <a class="button" href="/2021/faq" title="csv,conf,v6 FAQ">FAQ</a>
  </li>
  <li>
     <a class="button" href="https://www.youtube.com/watch?v=bheanFUNV_g&list=PLg5zZXwt2ZW56j8tlEzoSPZPXMRxYLHzu" target="_blank" title="watch 2021 talks">Watch 2021 Talks</a>
    </li>
  <button class = "button" onclick="myFunction()">Toggle Gray Mode</button>
  <script>
  function myFunction() {
    var element = document.body;
    element.classList.toggle("pantone-gray-theme");
  }
  </script>
 </ul>
</div>


  <div class="{% if page.class %}{{ page.class }}{% endif %}">

   {{ content }}

   <footer>
    <p>csv,conf is a group effort to put on a non-profit, community conference with dozens of people putting in time, including but not limited to the 2021 organizing team:</p>
    <ul>
    <li>Karthik Ram, University of California, Berkeley. Program Chair</li>
    <li>John Chodacki, California Digital Library</li>
    <li>Elaine Wong, Canadian Broadcasting Corporation</li>
    <li>Jessica Hardwicke, Code for Science & Society</li>
    <li>Jonathan Cain, Columbia University Libraries</li>
    <li>Jo Barratt, Open Knowledge Foundation</li>
    <li>Danielle Robinson, Code for Science & Society</li>
    <li>Lilly Winfree, Open Knowledge Foundation</li>
    <li>Serah Rono, The Carpentries</li>
    </ul>

    <p>
    We strive to be a supportive and welcoming environment to all attendees. We encourage you to read the <a href="/coc/" title="Conf Code of Conduct Website">Conf Code of Conduct</a> and will be enforcing it.</p>
    <p>You can revisit
      <a href="/2020/" title="csv,conf,v5 site">csv,conf,v5</a>, <a href="/2019/" title="csv,conf,v4 site">csv,conf,v4</a>, <a href="/2017/" title="csv,conf,v3 site">csv,conf,v3</a> , <a href="/2016/" title="csv,conf,v2 site">csv,conf,v2</a> and <a href="/2014/" title="csv,conf,v1 site">csv,conf,v1</a> conference websites, or watch csv,conf talks on <a href="https://www.youtube.com/channel/UCWq7JfT4PJrCZLmxSOVJOww" title="csv,conf YouTube Channel">YouTube</a>.
    </p>
    <p>The code for this website is open source. <a href="https://github.com/csvconf/csvconf.com/" title="CSV,Conf website repo on GitHub">View it on GitHub</a>. &nbsp;
    Want to talk to us? <a href="https://csvconf-slackin.herokuapp.com/" title="CSV,Conf Slack organization">Join us on Slack.</a></p>
   </footer>


  </div>

 </body>
</html>
